@font-face {
 font-family: 'iconfont';
 src: url('./iconfont.eot');
 src: url('./iconfont.eot?#iefix') format('embedded-opentype'),
      url('./iconfont.woff') format('woff'),
      url('./iconfont.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
 font-size: 18px;
}


.iconfont {
  font-size: 18px;
  font-family: 'iconfont';
}

